@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);

  --color-muted: var(--muted);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-hover: var(--sidebar-hover);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f9fafb;
  --foreground: #111827;

  --card: #ffffff;
  --card-foreground: #111827;

  --border: #e5e7eb;

  --muted: #6b7280;

  --sidebar: #ffffff;
  --sidebar-foreground: #374151;
  --sidebar-hover: #f3f4f6;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;

  --card: #18181b;
  --card-foreground: #fafafa;

  --border: #3f3f46;

  --muted: #a1a1aa;

  --sidebar: #18181b;
  --sidebar-foreground: #f4f4f5;
  --sidebar-hover: #27272a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input::-ms-reveal {
  display: none;
}

input[type="password"] {
  appearance: none;
}

.custom-swal-popup {
  border-radius: 24px !important;
}

.custom-swal-actions {
  width: 100% !important;
  padding: 0 60px 24px 60px !important;
  display: flex !important;
  justify-content: space-between !important;
}

.custom-swal-confirm {
  cursor: pointer !important;
  color: #fff !important;
  border-radius: 14px !important;
  padding: 12px 20px !important;
  background: #dc2626 !important;
  transition: all 0.15s ease !important;
}

.custom-swal-confirm:hover {
  background: #ef4444 !important;
}

.custom-swal-confirm:active {
  transform: scale(0.97) !important;
}

.custom-swal-cancel {
  cursor: pointer !important;
  color: #fff !important;
  border-radius: 14px !important;
  padding: 12px 30px !important;
  background: #6b7280 !important;
  transition: all 0.15s ease !important;
}

.custom-swal-cancel:hover {
  background: #9ca3af !important;
}

.custom-swal-cancel:active {
  transform: scale(0.97) !important;
}

.custom-swal-confirm-profile {
  cursor: pointer !important;
  color: #fff !important;
  border-radius: 14px !important;
  padding: 12px 20px !important;
  background: #2967eb !important;
  transition: all 0.15s ease !important;
}

.custom-swal-confirm-profile:hover {
  background: #3b82f6 !important;
}

.custom-swal-confirm-profile:active {
  transform: scale(0.97) !important;
}

.custom-swal-confirm-logout {
  cursor: pointer !important;
  color: #fff !important;
  border-radius: 14px !important;
  padding: 12px 30px !important;
  background: #dc2626 !important;
  transition: all 0.15s ease !important;
}

.custom-swal-confirm-logout:hover {
  background: #ef4444 !important;
}

.custom-swal-confirm-logout:active {
  transform: scale(0.97) !important;
}

.custom-swal-confirm-delete {
  cursor: pointer !important;
  color: #fff !important;
  border-radius: 14px !important;
  padding: 12px 20px !important;
  background: #14b8a6 !important;
  transition: all 0.15s ease !important;
}

.custom-swal-confirm-delete:hover {
  background: #14cbb6 !important;
}

.custom-swal-confirm-delete:active {
  transform: scale(0.97) !important;
}